/* Selector universal */
*{
    box-sizing: border-box;
}

/* Estilos generales */
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Tarjetas */
.post{
    margin: 20px auto 40px auto;
    width: 600px;
    max-width: 100%;
    min-width: 200px;
    padding: 24px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* Notas */
.nota{
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 5px solid #f0ad4e;
}
